
# recursive dependencies
# colorama==0.3.7

# direct external dependencies
invoke==0.12.2
# invoke==0.15
PyYAML==3.11

# dk
dkfileutils>=1.3.0
yamldirs>=1.0.9

# building
sphinx==1.3.4
watchdog

# testing
pytest==2.8.5
pytest-cov>=2.2.1
coverage==4.0.3

dkpkg>=1.0.0
