
# recursive dependencies

# direct external dependencies
invoke==1.2.0
PyYAML==5.1.2

# dk
dkfileutils==1.4.2
yamldirs==1.1.8

# building
sphinx==1.7.1
watchdog==0.8.3

# testing
pytest==3.9.3
pytest-cov==2.6.1
coverage>=4.4.1

twine>=1.9.1
dkpkg==2.0.1
